body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-logo {
  height: 25px;
  margin-left: 20px;
  margin-right: 8px;
}

.header-brand {
  margin-right: 20px;
}

.nav-item:hover .dropdown-menu {
  display:block!important
}

.button {
  color: #17b87e !important; 
  border-color: #17b87e !important;
}

.button:hover {
  color: white !important;
  background-color: #17b87e !important;
}

.button-header {
  margin: 0 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 540px 540px 100px;
  grid-template-rows: 555px;
}

.grid-background {
  background-color: #ececec;
}